.game {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
  padding: 50px;
}

.boards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  // make the border between the boards
  > :first-child {
    border-right: 1px solid gray;
  }
}

.restart_game {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

// MEDIA
@media screen and (max-width: 768px) {
  .game {
    padding: 10px;
  }
}