.button {
  padding: 5px;
  border-radius: 5px;
  appearance: none;
  border: 0;
  cursor: pointer;
}

// color the btn into green
.success {
  color: white;
  background-color: var(--green);
  font-weight: 600;
  font-size: 15px;
  transition: background-color .2s ease;
  &:hover {
    background-color: #008d15;  // use a slightly darker shade for hover
  }
}