.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.score {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resetBtn {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: var(--green);
  font-weight: 600;
  font-size: 15px;
  appearance: none;
  border: 0;
  cursor: pointer;
}